<mat-card appearance="outlined" fxFill fxLayout="column" class="pbpb-fit-panel" id="jpsi-tour-pbpb-fit-panel">
  <mat-card-title class="pbpb-fit-panel__title">
    <span class="pbpb-fit-panel__title-text">{{ 'JPSI.PBPB.FIT.TITLE' | translate }}</span>
    @if (mode !== 'explore') {
      <div class="pbpb-fit-panel__title-actions">
        <button
          type="button"
          mat-stroked-button
          class="panel-action-button"
          [disabled]="fitService.data.data.length === 0"
          (click)="onResetRangeClick()"
        >
          {{ 'JPSI.PBPB.FIT.RESET_RANGE' | translate }}
        </button>
        <button
          type="button"
          mat-stroked-button
          class="panel-action-button"
          [disabled]="!isZoomed"
          (click)="onUnzoomClick()"
        >
          {{ 'JPSI.PBPB.FIT.RESET_ZOOM' | translate }}
        </button>
      </div>
    }
  </mat-card-title>

  <mat-card-content fxFlex="grow" fxLayout="column">
    @if (mode === 'explore') {
      <div class="pbpb-fit-panel__placeholder">
        <p>{{ 'JPSI.PBPB.FIT.EMPTY_HINT' | translate }}</p>
      </div>
    } @else {
      <div class="plot-stage">
        <app-fit-histogram
          #fitHistogram
          [compactChrome]="true"
          [xDomain]="[fitService.data.xmin, fitService.data.xmax]"
          [bins]="fitService.data.bins"
          [data]="fitService.data.data"
          [enableZoom]="true"
          signalColor="#FF4081"
          backgroundColor="#3F51B5"
          barColor="#A3A3A3"
          [backgroundShown]="fitService.result !== null"
          [signalShown]="fitService.result !== null"
          [showFitRangeGuides]="fitService.data.data.length > 0"
          [backgroundRange]="fitService.backgroundFitRange"
          [signalRange]="fitService.signalFitRange"
          [backgroundFunction]="fitService.backgroundFunction"
          [signalFunction]="fitService.signalFunction"
          (zoomEvent)="onZoom($event)"
        >
          <svg:text xAxisLabel>{{ 'JPSI.MASS.X_AXIS' | translate }}</svg:text>
          <svg:text yAxisLabel>{{ 'JPSI.MASS.Y_AXIS' | translate }}</svg:text>
        </app-fit-histogram>

        @if (fitService.result !== null) {
          <div id="info" fxLayout="column">
            <div fxLayout="column" fxLayout.xs="row" fxLayoutAlign.xs="space-around center">
              <p>{{ 'JPSI.PBPB.FIT.TOTAL' | translate }}: {{ fitService.result.total }}</p>
              <p>
                {{ 'JPSI.PBPB.FIT.SIGNAL' | translate }}: {{ fitService.result.signal }} &plusmn;
                {{ fitService.result.signalError }}
              </p>
              <p>{{ 'JPSI.PBPB.FIT.BACKGROUND' | translate }}: {{ fitService.result.background }}</p>
            </div>
            <div fxLayout="column" fxLayout.xs="row" fxLayoutAlign.xs="space-around center">
              <p>&mu; : {{ fitService.result.p1Gauss[1] | number: '1.4-4' }}</p>
              <p>&sigma; : {{ fitService.result.p1Gauss[2] | number: '1.4-4' }}</p>
            </div>
          </div>
        }
      </div>

      <app-fit-selector
        #fitSelector
        [axisRange]="axisRange"
        [initialSelection]="initialSelection"
        (tryFitEvent)="onTryFit($event)"
        (addFitResultEvent)="onAcceptClick()"
        (clearFitEvent)="onClearFit()"
      ></app-fit-selector>

      <div class="pbpb-fit-panel__footer">
        <button mat-stroked-button data-testid="jpsi-pbpb-show-ul" (click)="onShowComponentsClick()">
          {{ 'JPSI.PBPB.FIT.SHOW_UL' | translate }}
        </button>
        @if (!canAccept) {
          <span class="pbpb-fit-panel__accept-hint">{{ 'JPSI.PBPB.FIT.NO_SIGNAL_HINT' | translate }}</span>
        }
      </div>
    }
  </mat-card-content>
</mat-card>
