<div class="nmf-hist-dialog" data-testid="nmf-histogram-dialog">
  <div class="nmf-hist-dialog-header">
    <h2 mat-dialog-title class="nmf-hist-dialog-title" [innerHTML]="data.spec.titleKey | translate"></h2>
    @if (allowBinControl) {
      <div
        class="bin-control"
        role="group"
        [attr.aria-label]="'STRANGENESS.HISTOGRAMS.BINS' | translate"
      >
        <span class="bin-control__caption">{{ 'STRANGENESS.HISTOGRAMS.BINS' | translate }}</span>
        <input
          id="nmf-hist-dialog-bins"
          class="bin-control__slider"
          type="range"
          [min]="binMin"
          [max]="binMax"
          step="1"
          [(ngModel)]="bins"
          [ngModelOptions]="{ standalone: true }"
          [style.--bin-fill]="binFillPercent"
          (ngModelChange)="clampBins()"
          aria-label="Bin count slider"
          data-testid="nmf-histogram-bins-slider"
        />
        <input
          class="bin-control__input"
          type="number"
          [min]="binMin"
          [max]="binMax"
          step="1"
          [ngModel]="bins"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="onBinsInput($event)"
          (blur)="clampBins()"
          aria-label="Bin count"
          data-testid="nmf-histogram-bins-input"
        />
      </div>
    }
    <button
      type="button"
      mat-icon-button
      class="nmf-hist-dialog-close"
      aria-label="Close"
      data-testid="nmf-histogram-dialog-close"
      (click)="close($event)"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="nmf-hist-dialog-content">
    <div class="nmf-hist-dialog-stats">
      <span class="nmf-hist-stat-badge">
        {{ 'NUCLEAR_MODIFICATION.EVENT_EXPLORATION.STATS_ENTRIES' | translate }}:
        {{ data.stats.entries }}
      </span>
    </div>

    <div class="nmf-hist-dialog-plot">
      <app-histogram
        [data]="data.spec.data"
        [xDomain]="data.spec.xDomain"
        [bins]="bins"
        [discreteValues]="data.spec.discreteValues ?? null"
        [barColor]="data.spec.barColor"
        [expandDomainToData]="data.spec.expandDomainToData"
        [viewBoxHeight]="262"
        [showMean]="data.spec.showMean ?? true"
        [meanLabel]="'NUCLEAR_MODIFICATION.EVENT_EXPLORATION.STATS_MEAN' | translate"
        [showMedian]="data.spec.showMedian ?? true"
        [medianLabel]="'NUCLEAR_MODIFICATION.EVENT_EXPLORATION.STATS_MEDIAN' | translate"
      >
        <svg:text xAxisLabel>{{ data.spec.xAxisLabelKey | translate }}</svg:text>
        <svg:text yAxisLabel>{{ data.spec.yAxisLabelKey | translate }}</svg:text>
      </app-histogram>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="button" (click)="close($event)">
      {{ 'INSTRUCTIONS_DIALOG.BUTTON_DISMISS' | translate }}
    </button>
  </mat-dialog-actions>
</div>
