<div class="instructions">
  <h2>{{ 'NUCLEAR_MODIFICATION.INSTRUCTIONS_SPECTRUM_ANALYSIS.TITLE' | translate }}</h2>
  <p [innerHTML]="'NUCLEAR_MODIFICATION.INSTRUCTIONS_SPECTRUM_ANALYSIS.P1' | translate"></p>
  <ol>
    <li [innerHTML]="'NUCLEAR_MODIFICATION.INSTRUCTIONS_SPECTRUM_ANALYSIS.STEP1' | translate"></li>
    <li [innerHTML]="'NUCLEAR_MODIFICATION.INSTRUCTIONS_SPECTRUM_ANALYSIS.STEP2' | translate"></li>
    <li [innerHTML]="'NUCLEAR_MODIFICATION.INSTRUCTIONS_SPECTRUM_ANALYSIS.STEP3' | translate"></li>
    <li [innerHTML]="'NUCLEAR_MODIFICATION.INSTRUCTIONS_SPECTRUM_ANALYSIS.STEP4' | translate"></li>
  </ol>
</div>
