<div class="instructions">
  <h2>{{ 'NUCLEAR_MODIFICATION.INSTRUCTIONS_SPECTRUM_ANALYSIS.TITLE' | translate }}</h2>
  <p>{{ 'NUCLEAR_MODIFICATION.INSTRUCTIONS_SPECTRUM_ANALYSIS.P1' | translate }}</p>
  <ol>
    <li>{{ 'NUCLEAR_MODIFICATION.INSTRUCTIONS_SPECTRUM_ANALYSIS.STEP1' | translate }}</li>
    <li>{{ 'NUCLEAR_MODIFICATION.INSTRUCTIONS_SPECTRUM_ANALYSIS.STEP2' | translate }}</li>
    <li>{{ 'NUCLEAR_MODIFICATION.INSTRUCTIONS_SPECTRUM_ANALYSIS.STEP3' | translate }}</li>
    <li>{{ 'NUCLEAR_MODIFICATION.INSTRUCTIONS_SPECTRUM_ANALYSIS.STEP4' | translate }}</li>
  </ol>
</div>
