table {
  width: 100%;
}

.results-body {
  gap: 12px;
}

.results-toolbar {
  width: 100%;
}

.results-header {
  width: 100%;
}

.title {
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.results-frame {
  width: 100%;
}

.dot {
  height: 10px;
  width: 10px;
  margin-left: 6px;
  vertical-align: middle;
  border-radius: 50%;
  display: inline-block;
}

.kaon {
  background-color: var(--kaon-color);
}

.lambda {
  background-color: var(--lambda-color);
}

.antilambda {
  background-color: var(--antilambda-color);
}
