<h1>{{ 'STRANGENESS.INSTRUCTIONS_VISUAL_ANALYSIS.TITLE' | translate }}</h1>

<h2>{{ 'STRANGENESS.INSTRUCTIONS_VISUAL_ANALYSIS.SUBTITLE' | translate }}</h2>

<p [innerHtml]="'STRANGENESS.INSTRUCTIONS_VISUAL_ANALYSIS.P1' | translate"></p>

<h3 class="decay-guide-heading">{{ 'STRANGENESS.VISUAL_ANALYSIS.DECAY_GUIDE' | translate }}</h3>

<div class="figure"
  fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
  fxLayoutAlign="space-around end" fxLayoutAlign.xs="space-around center" fxLayoutAlign.sm="space-around center"
  fxLayoutGap="8px"
>
  <div class="figure-item">
    <img src="/assets/exercises/strangeness/part1_instructions/kaon.png" alt="K0S decay"/>
    <div class="decay-equation particle">K<span class="supsub"><sup>0</sup><sub>S</sub></span> → π<sup>−</sup> + π<sup>+</sup></div>
  </div>
  <div class="figure-item">
    <img src="/assets/exercises/strangeness/part1_instructions/lambda.png" alt="Lambda decay"/>
    <div class="decay-equation particle">Λ → p + π<sup>−</sup></div>
  </div>
  <div class="figure-item">
    <img src="/assets/exercises/strangeness/part1_instructions/antilambda.png" alt="Anti-Lambda decay"/>
    <div class="decay-equation particle">Λ&#773; → p&#773; + π<sup>+</sup></div>
  </div>
  <div class="figure-item">
    <img src="/assets/exercises/strangeness/part1_instructions/xi.png" alt="Xi decay"/>
    <div class="decay-equation particle">Ξ<sup>−</sup> → π<sup>−</sup> + Λ ( → p + π<sup>−</sup>)</div>
  </div>
  <div class="figure-item">
    <img src="/assets/exercises/strangeness/part1_instructions/antixi.png" alt="Anti-Xi decay"/>
    <div class="decay-equation particle">Ξ&#773;<sup>+</sup> → π<sup>+</sup> + Λ&#773; ( → p&#773; + π<sup>+</sup>)</div>
  </div>
</div>

<p [innerHtml]="'STRANGENESS.INSTRUCTIONS_VISUAL_ANALYSIS.P2' | translate"></p>

<p [innerHtml]="'STRANGENESS.INSTRUCTIONS_VISUAL_ANALYSIS.P3' | translate"></p>

<p [innerHtml]="'STRANGENESS.INSTRUCTIONS_VISUAL_ANALYSIS.P4' | translate"></p>
