<div class="instructions">
  <h2>{{ 'NUCLEAR_MODIFICATION.INSTRUCTIONS_EVENT_EXPLORATION.TITLE' | translate }}</h2>

  <div class="nmf-replay-tutorial">
    <button mat-raised-button color="primary" type="button" (click)="replayTutorial()">
      Replay tutorial
    </button>
  </div>

  <p>{{ 'NUCLEAR_MODIFICATION.INSTRUCTIONS_EVENT_EXPLORATION.P1' | translate }}</p>
  <ol>
    <li>{{ 'NUCLEAR_MODIFICATION.INSTRUCTIONS_EVENT_EXPLORATION.STEP1' | translate }}</li>
    <li>{{ 'NUCLEAR_MODIFICATION.INSTRUCTIONS_EVENT_EXPLORATION.STEP2' | translate }}</li>
    <li>{{ 'NUCLEAR_MODIFICATION.INSTRUCTIONS_EVENT_EXPLORATION.STEP3' | translate }}</li>
    <li>{{ 'NUCLEAR_MODIFICATION.INSTRUCTIONS_EVENT_EXPLORATION.STEP4' | translate }}</li>
  </ol>
</div>
