:host {
  display: block;
  height: 100%;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 280px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

mat-sidenav-content > div {
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

#buttons {
  margin-left: auto;

  button {
    vertical-align: middle;
    font-size: 1em;

    span {
      margin-left: 0.3em;
    }
  }
}
