<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport role="dialog" [autoFocus]="false">
    <div fxFill fxLayout="column">
      <mat-toolbar>{{ 'GENERAL.MENU' | translate }}</mat-toolbar>
      <mat-nav-list fxFlex="grow" fxLayout="column">
        <a mat-list-item routerLink="/home" routerLinkActive #rlaHome="routerLinkActive" [activated]="rlaHome.isActive">{{ 'HOME.HOME_MENU' | translate }}</a>
        <h1 matSubheader>{{ 'STRANGENESS.TITLE' | translate }}</h1>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/strangeness-visual-analysis" routerLinkActive #rlaVisual="routerLinkActive" [activated]="rlaVisual.isActive" data-testid="nav-link-visual-analysis">{{ 'STRANGENESS.VISUAL_ANALYSIS_MENU' | translate }}</a>
        <a mat-list-item routerLink="/strangeness-large-scale-analysis" routerLinkActive #rlaLsa="routerLinkActive" [activated]="rlaLsa.isActive">{{ 'STRANGENESS.LARGE_SCALE_ANALYSIS_MENU' | translate }}</a>
        <a mat-list-item routerLink="/particle-propagation" routerLinkActive #rlaProp="routerLinkActive" [activated]="rlaProp.isActive" data-testid="nav-link-particle-propagation">{{ 'STRANGENESS.PARTICLE_PROPAGATION_MENU' | translate }}</a>
        <h1 matSubheader>{{ 'JPSI.TITLE' | translate }}</h1>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/jpsi-analysis" routerLinkActive #rlaJpsi="routerLinkActive" [activated]="rlaJpsi.isActive" data-testid="nav-link-jpsi-analysis">{{ 'JPSI.MENU' | translate }}</a>
        <div fxFlex="grow"></div>
        <a mat-list-item (click)="onPasswordButtonClicked()">
          @if (demo) {
            {{ 'APP_INFO.MENU' | translate }}
          } @else {
            {{ 'PASSWORD.PASSWORD_MENU' | translate }}
          }
        </a>
        <!-- <a mat-list-item routerLink="/about">{{ 'ABOUT.ABOUT_MENU' | translate }}</a> -->
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="column">
      <div class="sticky">
        <app-cern-toolbar></app-cern-toolbar>
        <mat-toolbar color="primary">
          <button
            type="button"
            aria-label="Toggle sidenav"
            data-testid="nav-menu-toggle"
            mat-icon-button
            (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>{{ 'GENERAL.ALICE_MASTERCLASS' | translate }}</span>
          <span id="buttons">
            @if (showSessionBadge) {
              @if (authStatus$ | async; as auth) {
                @if (auth.authenticated) {
                  <span class="session-badge" data-testid="session-badge" aria-live="polite">
                    #{{ auth.studentID }} in {{ auth.sessionName }}
                  </span>
                }
              }
            }
            @if (instructionsComponent) {
              <button mat-icon-button aria-label="Instructions button" (click)="onInstructionsButtonClicked()">
                <mat-icon>help_outline</mat-icon>
              </button>
            }
            <button
              aria-label="Change language"
              mat-button
              [matMenuTriggerFor]="langMenu">
              <mat-icon aria-label="Change language icon" inline="true">language</mat-icon>
              <span>{{ translate.currentLang | uppercase }}</span>
            </button>
            <mat-menu #langMenu>
              @for (lang of languages; track lang) {
                <button mat-menu-item
                  (click)="onLangButtonClicked(lang)">
                  {{ 'LANGUAGES.' + lang | translate }}
                </button>
              }
            </mat-menu>
          </span>
        </mat-toolbar>
      </div>
      <router-outlet (activate)="onRouterActivate($event)"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
