<h1>{{ 'EVENT_EXPLORATION.INSTRUCTIONS.TITLE' | translate }}</h1>

<p [innerHtml]="'EVENT_EXPLORATION.INSTRUCTIONS.INTRO' | translate"></p>

<h2>{{ 'EVENT_EXPLORATION.INSTRUCTIONS.HOW_TO_USE' | translate }}</h2>
<ol>
  <li [innerHtml]="'EVENT_EXPLORATION.INSTRUCTIONS.STEP_1' | translate"></li>
  <li [innerHtml]="'EVENT_EXPLORATION.INSTRUCTIONS.STEP_2' | translate"></li>
  <li [innerHtml]="'EVENT_EXPLORATION.INSTRUCTIONS.STEP_3' | translate"></li>
  <li [innerHtml]="'EVENT_EXPLORATION.INSTRUCTIONS.STEP_4' | translate"></li>
</ol>

<h2>{{ 'EVENT_EXPLORATION.INSTRUCTIONS.HOW_TO_READ' | translate }}</h2>
<p [innerHtml]="'EVENT_EXPLORATION.INSTRUCTIONS.HOW_TO_READ_INTRO' | translate"></p>
<ul>
  <li [innerHtml]="'EVENT_EXPLORATION.INSTRUCTIONS.READ_COLUMNS' | translate"></li>
  <li [innerHtml]="'EVENT_EXPLORATION.INSTRUCTIONS.READ_UNITY' | translate"></li>
  <li [innerHtml]="'EVENT_EXPLORATION.INSTRUCTIONS.READ_MEAN' | translate"></li>
  <li [innerHtml]="'EVENT_EXPLORATION.INSTRUCTIONS.READ_SPREAD' | translate"></li>
</ul>
