<div fxFlex="grow">
  <div class="jpsi container" fxFlex="grow" fxLayout="column" fxLayoutGap="10px">
    <app-jpsi-dataset-toolbar
      [datasets]="datasets"
      [publishedOptions]="pbPbCentralityDescriptors"
      [activeDataset]="activeCollisionSystem"
      [isPublishedActive]="isPublished(activeCollisionSystem)"
      [processedCount]="state.state.processedCount"
      [totalEvents]="totalEvents"
      [eventsLeft]="eventsLeft"
      [isRunning]="quickAnalysis.isRunning"
      (datasetChange)="onDatasetChange($event)"
      (runAnalysis)="onRunAnalysis($event)"
      (resetHistograms)="onResetHistograms()"
    ></app-jpsi-dataset-toolbar>

    @if (isPublished(activeCollisionSystem)) {
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start stretch">
        <app-jpsi-mass-panel
          [fxFlex]="demo ? 55 : 65"
          [primarySeries]="pbPbPrimarySeries"
          [secondarySeries]="pbPbSecondarySeries"
          [residual]="pbPbResidual"
          [mode]="pbPbState.state.panelMode"
          [xmin]="pbPbState.state.histogram?.xmin ?? 0"
          [xmax]="pbPbState.state.histogram?.xmax ?? 1"
          [bins]="pbPbState.state.histogram?.bins ?? 1"
          [visibility]="pbPbVisibility"
          [massWindow]="pbPbState.state.fitSnapshot.massWindow"
          [backgroundFitRange]="pbPbState.state.fitSnapshot.backgroundFitRange"
          [signalWindowWidth]="pbPbSignalWindowWidth"
          [defaultSignalWindow]="pbPbDefaultSignalWindow"
          [fitResult]="pbPbState.state.fitSnapshot.fitResult"
          [canSubtract]="pbPbState.canSubtract"
          [canAccept]="pbPbState.canAccept"
          [hasData]="pbPbState.state.histogram !== null"
          [loading]="pbPbState.state.loading"
          emptyHintKey="JPSI.PBPB.MINV.EMPTY"
          (toggleSeries)="onTogglePbPbSeries($event)"
          (subtract)="onSubtractPbPb()"
          (showComponents)="onShowComponentsPbPb()"
          (massWindowChange)="onPbPbMassWindowChange($event)"
          (backgroundFitRangeChange)="onPbPbBackgroundRangeChange($event)"
          (fit)="onPbPbFit()"
          (acceptResult)="onAcceptPbPbResult()"
          (clearFit)="onClearFitPbPb()"
        ></app-jpsi-mass-panel>

        @if (demo) {
          <app-jpsi-raa-results fxFlex="45" [rows]="raaRows"></app-jpsi-raa-results>
        } @else {
          <app-jpsi-pbpb-results
            fxFlex="35"
            [rows]="pbPbRows"
            [hasOtherResults]="rows.length > 0"
            (uploadResults)="onUploadResults()"
            (removeResult)="onRemovePbPbResult($event)"
          ></app-jpsi-pbpb-results>
        }
      </div>

      @if (demo) {
        <app-jpsi-raa-plot
          class="jpsi-raa-plot-standalone"
          [xDomain]="raaParticipantsDomain"
          [data]="raaPlotData"
        ></app-jpsi-raa-plot>
      }
    } @else {
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start stretch">
        <mat-card appearance="outlined" fxFlex="50" id="jpsi-tour-heatmap">
          <mat-card-title class="jpsi__card-title">
            {{ 'JPSI.PID.TITLE' | translate }}
          </mat-card-title>
          <mat-card-content>
            <app-jpsi-pid-cut-controls
              [cut]="state.state.cut"
              [disabled]="quickAnalysis.isRunning || !hasData"
              (cutPreview)="onCutPreview($event)"
              (acceptRange)="onAcceptSelectedRange($event)"
              (resetCuts)="onResetCuts()"
            >
              <app-jpsi-pid-heatmap
                [bins]="state.state.pidBins"
                [maxCount]="state.state.pidMax"
                [cut]="previewCut"
                [revision]="revision"
              ></app-jpsi-pid-heatmap>
            </app-jpsi-pid-cut-controls>
          </mat-card-content>
        </mat-card>

        <app-jpsi-mass-panel
          fxFlex="50"
          [primarySeries]="trackPrimarySeries"
          [secondarySeries]="trackSecondarySeries"
          [mergedSeries]="trackMergedSeries"
          [residual]="residual"
          [mode]="state.state.panelMode"
          [visibility]="state.state.visibility"
          [showBackgroundSum]="state.state.showBackgroundSum"
          [massWindow]="state.state.massWindow"
          [backgroundFitRange]="state.state.backgroundFitRange"
          [signalWindowWidth]="signalWindowWidth"
          [defaultSignalWindow]="defaultSignalWindow"
          [fitResult]="state.state.fitResult"
          [canSubtract]="state.canSubtract"
          [canAccept]="state.canAccept"
          [tooWideSelection]="state.state.tooWideSelection"
          [hasData]="hasMassData"
          [revision]="revision"
          (toggleSeries)="onToggleSeries($event)"
          (showBackgroundSumChange)="onShowBackgroundSum($event)"
          (subtract)="onSubtract()"
          (showComponents)="onShowComponents()"
          (massWindowChange)="onMassWindowChange($event)"
          (backgroundFitRangeChange)="onBackgroundRangeChange($event)"
          (fit)="onFit()"
          (acceptResult)="onAcceptResult()"
          (clearFit)="onClearFit()"
        ></app-jpsi-mass-panel>
      </div>

      @if (demo) {
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start stretch">
          <app-jpsi-raa-results fxFlex="50" [rows]="raaRows"></app-jpsi-raa-results>
          <app-jpsi-raa-plot fxFlex="50" [xDomain]="raaParticipantsDomain" [data]="raaPlotData"></app-jpsi-raa-plot>
        </div>
      } @else {
        <app-jpsi-results-table
          [rows]="rows"
          [hasOtherResults]="hasPbPbResults"
          (uploadResults)="onUploadResults()"
          (removeResult)="onRemoveResult($event)"
        ></app-jpsi-results-table>
      }
    }
  </div>
</div>
