<div fxFlex="grow">
  <div class="jpsi container" fxFlex="grow" fxLayout="column" fxLayoutGap="10px">
    <app-jpsi-dataset-toolbar
      [datasets]="datasets"
      [activeDataset]="activeDataset"
      [processedCount]="state.state.processedCount"
      [totalEvents]="totalEvents"
      [eventsLeft]="eventsLeft"
      [isRunning]="quickAnalysis.isRunning"
      (datasetChange)="onDatasetChange($event)"
      (runAnalysis)="onRunAnalysis($event)"
      (resetHistograms)="onResetHistograms()"
    ></app-jpsi-dataset-toolbar>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start stretch">
      <mat-card appearance="outlined" fxFlex="40" id="jpsi-tour-heatmap">
        <mat-card-title class="jpsi__card-title">
          {{ 'JPSI.PID.TITLE' | translate }}
        </mat-card-title>
        <mat-card-content>
          <app-jpsi-pid-heatmap
            [bins]="state.state.pidBins"
            [maxCount]="state.state.pidMax"
            [cut]="state.state.cut"
            [revision]="revision"
          ></app-jpsi-pid-heatmap>

          <app-jpsi-pid-cut-controls
            [cut]="state.state.cut"
            [disabled]="quickAnalysis.isRunning || !hasData"
            (cutChange)="onCutChange($event)"
            (resetCuts)="onResetCuts()"
          ></app-jpsi-pid-cut-controls>
        </mat-card-content>
      </mat-card>

      <app-jpsi-mass-panel
        fxFlex="60"
        [mass]="state.state.mass"
        [residual]="residual"
        [background]="background"
        [mode]="state.state.panelMode"
        [visibility]="state.state.visibility"
        [showBackgroundSum]="state.state.showBackgroundSum"
        [massWindow]="state.state.massWindow"
        [liveResult]="state.state.liveResult"
        [canSubtract]="state.canSubtract"
        [canAccept]="state.canAccept"
        [tooWideSelection]="state.state.tooWideSelection"
        [hasData]="hasData"
        [revision]="revision"
        (toggleSeries)="onToggleSeries($event)"
        (showBackgroundSumChange)="onShowBackgroundSum($event)"
        (subtract)="onSubtract()"
        (showComponents)="onShowComponents()"
        (massWindowChange)="onMassWindowChange($event)"
        (acceptResult)="onAcceptResult()"
      ></app-jpsi-mass-panel>
    </div>

    <app-jpsi-results-table
      [rows]="rows"
      (uploadResults)="onUploadResults()"
    ></app-jpsi-results-table>

    <app-jpsi-compare-panel [ppRow]="ppRow" [pPbRow]="pPbRow"></app-jpsi-compare-panel>
  </div>
</div>
