<div class="pid-cuts" id="jpsi-tour-cuts">
  <div class="pid-cuts__plot-row">
    <div class="pid-cuts__dedx" [style.width.px]="dedxColumnWidth">
      <span class="pid-cuts__label pid-cuts__label--vertical">{{ 'JPSI.CUTS.DEDX' | translate }}</span>
      <div
        class="pid-cuts__dedx-slider"
        [style.margin-top.px]="-dedxPadTop"
        [style.padding-bottom.px]="dedxPadBottom"
      >
        <ngx-slider
          [(value)]="dedxMin"
          [(highValue)]="dedxMax"
          [options]="dedxOptions"
          (userChange)="onSliderChange()"
          (userChangeEnd)="onSliderChangeEnd()"
        ></ngx-slider>
      </div>
    </div>

    <div class="pid-cuts__heatmap">
      <ng-content></ng-content>
    </div>
  </div>

  <div
    class="pid-cuts__momentum"
    [style.margin-left.px]="momentumInsetLeft"
    [style.margin-right.px]="momentumInsetRight"
  >
    <span class="pid-cuts__label">{{ 'JPSI.CUTS.MOMENTUM' | translate }}</span>
    <ngx-slider
      [(value)]="logPMin"
      [(highValue)]="logPMax"
      [options]="pOptions"
      (userChange)="onSliderChange()"
      (userChangeEnd)="onSliderChangeEnd()"
    ></ngx-slider>
  </div>

  <div class="pid-cuts__actions">
    <div class="pid-cuts__accept-wrap">
      <button
        mat-raised-button
        color="primary"
        class="pid-cuts__accept"
        [disabled]="disabled"
        data-testid="jpsi-accept-range"
        (click)="onAcceptRange()"
      >
        {{ 'JPSI.CUTS.ACCEPT' | translate }}
      </button>

      <button
        type="button"
        class="pid-cuts__howto"
        data-testid="jpsi-howto-range"
        (click)="openHowToSelectRange()"
      >
        {{ 'JPSI.CUTS.HOWTO' | translate }}
      </button>
    </div>

    <button
      mat-stroked-button
      class="pid-cuts__reset"
      [disabled]="disabled"
      data-testid="jpsi-reset-cuts"
      (click)="resetCuts.emit()"
    >
      {{ 'JPSI.CUTS.RESET' | translate }}
    </button>
  </div>
</div>
