<mat-card fxFill fxLayout="column">
  <mat-card-content fxFlex="grow" fxLayout="column" class="plot-body">
    <div class="plot-header">
      <ng-content select="[cardTitle]"></ng-content>
    </div>
    <div class="plot-frame" fxLayout="row" fxLayoutAlign="space-around center" #plotFrame>
      <svg #svg attr.viewBox="0 0 {{SVG.W}} {{SVG.H}}" preserveAspectRatio="xMidYMid meet">
        <g id="yAxisLabel" attr.transform="translate({{MARGIN.LEFT_YLABEL}}, {{MARGIN.TOP}}) rotate(-90)" text-anchor="end">
          <ng-content select="[yAxisLabel]"></ng-content>
        </g>
        <g id="contentArea" attr.transform="translate({{CONTENT_AREA.X}}, {{CONTENT_AREA.Y}})">
          <defs>
            <clipPath id="raaClip">
              <rect x="0" y="0" attr.width="{{CONTENT_AREA.W}}" attr.height="{{CONTENT_AREA.H}}"></rect>
            </clipPath>
          </defs>
          <g id="yAxis" #yAxis></g>
          <g id="xAxis" #xAxis attr.transform="translate(0, {{CONTENT_AREA.H}})"></g>
          <g id="mainArea" clip-path="url(#raaClip)">
            <line id="referenceLine" #referenceLine></line>
            <g id="errorBars" #errorBars></g>
            <g id="dots" #dots></g>
          </g>
        </g>
        <g id="xAxisLabel" attr.transform="translate({{CONTENT_AREA.X + CONTENT_AREA.W}}, {{SVG.H - MARGIN.BOTTOM_TEXT}})" text-anchor="end">
          <ng-content select="[xAxisLabel]"></ng-content>
        </g>
      </svg>
      @if (tooltipVisible && tooltipEntry) {
        <div
          class="plot-tooltip"
          [style.left.px]="tooltipX"
          [style.top.px]="tooltipY">
          <div class="plot-tooltip__title">{{ tooltipEntry.centralityLabel }}</div>
          <div>{{ 'JPSI_ANALYSIS.NO_PARTICIPANTS' | translate }}: {{ tooltipEntry.nParticipants | number:'1.0-1' }}</div>
          <div>R<sub>AA</sub>: {{ tooltipEntry.raa | number:'1.3-3' }} &plusmn; {{ tooltipEntry.raaError | number:'1.3-3' }}</div>
        </div>
      }
    </div>
  </mat-card-content>
</mat-card>
