<mat-card appearance="outlined" fxLayout="column">
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between start" class="hist-card-title">
    <span class="title">{{ 'STRANGENESS.HISTOGRAMS.TITLE' | translate }}</span>
    <div class="hist-card-actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px">
      <div class="bin-control" role="group" [attr.aria-label]="'STRANGENESS.HISTOGRAMS.BINS' | translate">
        <span class="bin-control__caption">{{ 'STRANGENESS.HISTOGRAMS.BINS' | translate }}</span>
        <input
          id="bins-all"
          class="bin-control__slider"
          type="range"
          [min]="binMin"
          [max]="binMax"
          step="1"
          [(ngModel)]="bins"
          [ngModelOptions]="{ standalone: true }"
          [style.--bin-fill]="binFillPercent"
          (ngModelChange)="clampBins()"
          aria-label="Bin count slider"
        />
        <input
          class="bin-control__input"
          type="number"
          [min]="binMin"
          [max]="binMax"
          step="1"
          [ngModel]="bins"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="onBinsInput($event)"
          (blur)="clampBins()"
          aria-label="Bin count"
        />
      </div>
      <span
        [matTooltipDisabled]="apiService.isAuthenticated"
        [matTooltip]="'PASSWORD.NO_TOKEN_TOOLTIP' | translate" matTooltipPosition="before"
      >
        <button
          [disabled]="!apiService.isAuthenticated || uploadDisabled"
          mat-raised-button
          color="warn"
          class="upload-data-button"
          aria-label="Upload data"
          (click)="onUploadButtonClicked()"
        >
          @if (apiService.isAuthenticated) {
            <mat-icon class="material-icons-outlined">cloud_upload</mat-icon>
          } @else {
            <mat-icon class="material-icons-outlined">cloud_off</mat-icon>
          }
          <span class="upload-data-button__text">{{ 'PASSWORD.UPLOAD_DATA' | translate }}</span>
        </button>
      </span>
    </div>
  </mat-card-title>
  <mat-card-content>
    <!-- 2 rows: K⁰ Λ Λ̅ on top (full width), Ξ Ξ̅ below -->
    <div class="hist-grid">
      <div class="hist-item hist-item--kaon">
        <app-histogram
          #kaonHistogram
          class="histogram-va"
          [data]="kaonMasses"
          [xDomain]="[0.4, 0.6]"
          [bins]="bins"
          [barColor]="kaonBarColor"
          [expandDomainToData]="true"
          [compactChrome]="true"
        >
          <svg:text xAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.INVARIANT_MASS' | translate }} (GeV/<svg:tspan class="em">c</svg:tspan>²)</svg:text>
          <svg:text yAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.COUNTS' | translate }}</svg:text>
          <span title class="particle hist-title">K<span class="supsub"><sup>0</sup><sub>S</sub></span></span>
        </app-histogram>
      </div>

      <div class="hist-item hist-item--lambda">
        <app-histogram
          #lambdaHistogram
          class="histogram-va"
          [data]="lambdaMasses"
          [xDomain]="[1.0, 1.4]"
          [bins]="bins"
          [barColor]="lambdaBarColor"
          [expandDomainToData]="true"
          [compactChrome]="true"
        >
          <svg:text xAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.INVARIANT_MASS' | translate }} (GeV/<svg:tspan class="em">c</svg:tspan>²)</svg:text>
          <svg:text yAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.COUNTS' | translate }}</svg:text>
          <span title class="particle hist-title">Λ</span>
        </app-histogram>
      </div>

      <div class="hist-item hist-item--antilambda">
        <app-histogram
          #antiLambdaHistogram
          class="histogram-va"
          [data]="antiLambdaMasses"
          [xDomain]="[1.0, 1.4]"
          [bins]="bins"
          [barColor]="antiLambdaBarColor"
          [expandDomainToData]="true"
          [compactChrome]="true"
        >
          <svg:text xAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.INVARIANT_MASS' | translate }} (GeV/<svg:tspan class="em">c</svg:tspan>²)</svg:text>
          <svg:text yAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.COUNTS' | translate }}</svg:text>
          <span title class="particle hist-title">Λ&#773;</span>
        </app-histogram>
      </div>

      <div class="hist-item hist-item--xi">
        <app-histogram
          #xiHistogram
          class="histogram-va"
          [data]="xiMasses"
          [xDomain]="[1.0, 1.4]"
          [bins]="bins"
          [barColor]="xiBarColor"
          [expandDomainToData]="true"
          [compactChrome]="true"
        >
          <svg:text xAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.INVARIANT_MASS' | translate }} (GeV/<svg:tspan class="em">c</svg:tspan>²)</svg:text>
          <svg:text yAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.COUNTS' | translate }}</svg:text>
          <span title class="particle hist-title">Ξ</span>
        </app-histogram>
      </div>

      <div class="hist-item hist-item--antixi">
        <app-histogram
          #antiXiHistogram
          class="histogram-va"
          [data]="antiXiMasses"
          [xDomain]="[1.0, 1.4]"
          [bins]="bins"
          [barColor]="antiXiBarColor"
          [expandDomainToData]="true"
          [compactChrome]="true"
        >
          <svg:text xAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.INVARIANT_MASS' | translate }} (GeV/<svg:tspan class="em">c</svg:tspan>²)</svg:text>
          <svg:text yAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.COUNTS' | translate }}</svg:text>
          <span title class="particle hist-title">Ξ&#773;</span>
        </app-histogram>
      </div>
    </div>
  </mat-card-content>
</mat-card>
