<mat-card appearance="outlined" fxLayout="column">
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between start">
    <span class="title">{{ 'STRANGENESS.HISTOGRAMS.TITLE' | translate }}</span>
    <span
      [matTooltipDisabled]="apiService.isAuthenticated"
      [matTooltip]="'PASSWORD.NO_TOKEN_TOOLTIP' | translate" matTooltipPosition="before"
      >
      <button
        [disabled]="!apiService.isAuthenticated || uploadDisabled"
        mat-raised-button
        color="warn"
        class="upload-data-button"
        aria-label="Upload data"
        (click)="onUploadButtonClicked()"
      >
        @if (apiService.isAuthenticated) {
          <mat-icon class="material-icons-outlined">cloud_upload</mat-icon>
        } @else {
          <mat-icon class="material-icons-outlined">cloud_off</mat-icon>
        }
        <span class="upload-data-button__text">upload data</span>
      </button>
    </span>
  </mat-card-title>
  <mat-card-content>
    <div class="hist-grid" fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="24px grid">
      <div class="hist-item" fxFlex="1 1 calc(50% - 12px)" fxLayout="column">
        <app-histogram
          [data]="kaonMasses"
          [xDomain]="[0.4, 0.6]"
          [bins]="kaonBins"
          barColor="#3F51B5"
          (binIncremented)="onHistogramBinIncremented(ParticleType.KAON, $event)"
        >
          <svg:text xAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.INVARIANT_MASS' | translate }} (GeV/<svg:tspan class="em">c</svg:tspan>²)</svg:text>
          <svg:text yAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.COUNTS' | translate }}</svg:text>
          <span title class="particle hist-title">K<span class="supsub"><sup>0</sup><sub>S</sub></span></span>
        </app-histogram>
        <div class="bin-control">
          <label class="bin-control__label" [attr.for]="'bins-kaon'">
            {{ 'STRANGENESS.HISTOGRAMS.BINS' | translate }}: {{ kaonBins }}
          </label>
          <mat-slider class="bin-control__slider" [min]="binMin" [max]="binMax" [step]="1" [discrete]="true">
            <input id="bins-kaon" matSliderThumb [(ngModel)]="kaonBins" [ngModelOptions]="{ standalone: true }" />
          </mat-slider>
        </div>
      </div>

      <div class="hist-item" fxFlex="1 1 calc(50% - 12px)" fxLayout="column">
        <app-histogram
          [data]="lambdaMasses"
          [xDomain]="[1.0, 1.4]"
          [bins]="lambdaBins"
          barColor="#3F51B5"
          (binIncremented)="onHistogramBinIncremented(ParticleType.LAMBDA, $event)"
        >
          <svg:text xAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.INVARIANT_MASS' | translate }} (GeV/<svg:tspan class="em">c</svg:tspan>²)</svg:text>
          <svg:text yAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.COUNTS' | translate }}</svg:text>
          <span title class="particle hist-title">Λ</span>
        </app-histogram>
        <div class="bin-control">
          <label class="bin-control__label" [attr.for]="'bins-lambda'">
            {{ 'STRANGENESS.HISTOGRAMS.BINS' | translate }}: {{ lambdaBins }}
          </label>
          <mat-slider class="bin-control__slider" [min]="binMin" [max]="binMax" [step]="1" [discrete]="true">
            <input id="bins-lambda" matSliderThumb [(ngModel)]="lambdaBins" [ngModelOptions]="{ standalone: true }" />
          </mat-slider>
        </div>
      </div>

      <div class="hist-item" fxFlex="1 1 calc(50% - 12px)" fxLayout="column">
        <app-histogram
          [data]="antiLambdaMasses"
          [xDomain]="[1.0, 1.4]"
          [bins]="antiLambdaBins"
          barColor="#3F51B5"
          (binIncremented)="onHistogramBinIncremented(ParticleType.ANTI_LAMBDA, $event)"
        >
          <svg:text xAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.INVARIANT_MASS' | translate }} (GeV/<svg:tspan class="em">c</svg:tspan>²)</svg:text>
          <svg:text yAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.COUNTS' | translate }}</svg:text>
          <span title class="particle hist-title">Λ&#773;</span>
        </app-histogram>
        <div class="bin-control">
          <label class="bin-control__label" [attr.for]="'bins-anti-lambda'">
            {{ 'STRANGENESS.HISTOGRAMS.BINS' | translate }}: {{ antiLambdaBins }}
          </label>
          <mat-slider class="bin-control__slider" [min]="binMin" [max]="binMax" [step]="1" [discrete]="true">
            <input id="bins-anti-lambda" matSliderThumb [(ngModel)]="antiLambdaBins" [ngModelOptions]="{ standalone: true }" />
          </mat-slider>
        </div>
      </div>

      <div class="hist-item" fxFlex="1 1 calc(50% - 12px)" fxLayout="column">
        <app-histogram
          [data]="xiMasses"
          [xDomain]="[1.0, 1.4]"
          [bins]="xiBins"
          barColor="#3F51B5"
          (binIncremented)="onHistogramBinIncremented(ParticleType.XI, $event)"
        >
          <svg:text xAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.INVARIANT_MASS' | translate }} (GeV/<svg:tspan class="em">c</svg:tspan>²)</svg:text>
          <svg:text yAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.COUNTS' | translate }}</svg:text>
          <span title class="particle hist-title">Ξ</span>
        </app-histogram>
        <div class="bin-control">
          <label class="bin-control__label" [attr.for]="'bins-xi'">
            {{ 'STRANGENESS.HISTOGRAMS.BINS' | translate }}: {{ xiBins }}
          </label>
          <mat-slider class="bin-control__slider" [min]="binMin" [max]="binMax" [step]="1" [discrete]="true">
            <input id="bins-xi" matSliderThumb [(ngModel)]="xiBins" [ngModelOptions]="{ standalone: true }" />
          </mat-slider>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
