<h1>{{ 'JPSI.INSTRUCTIONS.TITLE' | translate }}</h1>
<h2>{{ 'JPSI.INSTRUCTIONS.SUBTITLE' | translate }}</h2>

<p>{{ 'JPSI.INSTRUCTIONS.P1' | translate }}</p>
<p>{{ 'JPSI.INSTRUCTIONS.P2' | translate }}</p>
<p>{{ 'JPSI.INSTRUCTIONS.P3' | translate }}</p>
<p>{{ 'JPSI.INSTRUCTIONS.P4' | translate }}</p>

<figure class="jpsi-instructions__figure">
  <img
    class="jpsi-instructions__img"
    src="assets/exercises/jpsi/pid-electron-bands.png"
    [alt]="'JPSI.INSTRUCTIONS.PID_IMG_ALT' | translate"
  />
  <figcaption>{{ 'JPSI.INSTRUCTIONS.PID_IMG_CAPTION' | translate }}</figcaption>
</figure>

<button mat-raised-button color="primary" data-testid="jpsi-start-tutorial" (click)="startTutorial()">
  {{ 'JPSI.INSTRUCTIONS.START_TUTORIAL' | translate }}
</button>
